<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Contactez-nous</title>
</head>
<body>
  <nav>
    <a href="/">Accueil</a>
    <a href="/services">Nos Services</a>
    <a href="/contact">Contactez-nous</a>
  </nav>
  <h1>Contactez-nous à l'adresse suivante :</h1>
  <p>exemple@exemple.com</p>
</body>
</html>
