<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Hors des heures de travail</title>
</head>
<body>
  <h1>Désolé, nous sommes actuellement fermés.</h1>
  <p><%= prochainOuverture %></p>
</body>
</html>
